div.form-element {
    clear: both;
    padding: 15px 0;
}

div.form-label-wrapper {
    float: left;
    width: 130px;
    vertical-align: middle;
}

div.form-label-wrapper label
{
    font-weight: bold;
    color: black;
    padding: 0;
}

div.form-element-wrapper {
    float: left;
    vertical-align: middle;
}

div.form-element-wrapper input[type="text"]
{
    background-image: url('/admin/images/template/forms/form_inp.gif');
    border: none;
    color: #393939;
    height: 25px;
    padding: 6px 6px 0px;
    width: 186px;
}

div.form-element-wrapper input.file
{
    display: inline;
    width: 300px;

}

div.form-element-wrapper .faux-file-field input.file
{
    border: 1px solid #ACACAC;
    padding: 5px;
}


div.form-element-wrapper textarea
{
    background: url('/admin/images/template/forms/form_textarea.gif') no-repeat;
    border: none;
    color: #393939;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 97px;
    overflow: auto;
    padding: 6px 6px 0px;
    width: 378px;
    resize: none;
}

div.form-element-wrapper input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#95b52c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:white;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

div.form-element-wrapper input[type="submit"]:hover {
	background-color:#b1cc58;
    cursor: pointer;
}

div.form-element-wrapper input[type="submit"]:active {
	position:relative;
	top:1px;
    cursor: pointer;
}

div.errors 
{
    margin: 0 0 0 20px;
    padding-left: 6px;
    list-style-type: none;
    float: left;
    color: white;
    background: white url('/admin/images/template/forms/error_left.gif') no-repeat 0 10px;
}

div.form-element-file div.errors
{
    margin-left: 100px;
}

div.errors ul.errors 
{
    margin: 0;
    padding: 8px;
    list-style-type: none;
    background-color: #d63921;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

div.description 
{
    margin: 0 0 0 20px;
    padding-left: 6px;
    list-style-type: none;
    float: left;
    color: #2E74B2;
    background: white url('/admin/images/template/forms/description_left.gif') no-repeat 0 10px;
}

div.form-element-file div.description
{
    margin-left: 100px;
}

div.description div.description-inner 
{
    margin: 0;
    padding: 8px;
    background-color: #e4edf5;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}


